// # Compiled class file
*.class
*.html


// # Log file
*.log

// # Package Files #
*.jar
*.zip
*.tar.gz

// # Maven output dir
target/
.project
.classpath
.settings
.DS_Store
*.swp
.vscode

.idea
*.iml